@charset "UTF-8";

/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body样式 */
body {
  width: 100%;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
    "Microsoft YaHei", Arial, sans-serif;
  line-height: 1.6;
}

/* button、input、select、textarea样式 */
button,
input,
select,
textarea {
  font: 300 1em/1.8 "PingFang SC", "Lantinghei SC", "Microsoft Yahei",
    "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans";
}

select * {
  font: 300 1em/1.8 "PingFang SC", "Lantinghei SC", "Microsoft Yahei",
    "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans";
}

.all_container {
  width: 100%;
}

.tool_header {
  width: 100%;
  height: 50px;
  background: #ededed;
  line-height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#icon_container_left {
  height: 50px;
  margin-left: 20px;
  display: block;
  float: left;
}

#icon_container_right {
  display: block;
  height: 50px;
  float: right;
}

#display_area {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 869px;
  border-bottom: 1px solid #959b6f;
  border-top: 1px solid #959b6f;
}

#container_foot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #ededed;
}

#foot_css {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #50616d;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-color: #333;
  font-family: courier, monospace;
  font-size: inherit;
  color: #fff;
  word-wrap: break-word;
  word-break: normal;
  white-space: pre-wrap;
  /* // 不会自动换行，除非你enter换行  word-wrap: normal !important;  white-space: normal !important;twhite-space: pre !important;*/
}

#drag_indicate {
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
  width: 10px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: e-resize;
  background-color: #f6f6f6;
  border-left: 1px solid #959b6f;
  border-right: 1px solid #959b6f;
  z-index: 20;
}

#editor_render {
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transform: translate(310px, 0px);
  transform: translate(310px, 0px);
  width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
}

.Title {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 60px;
  font-size: 22px;
  font-weight: bold;
}

.btn {
  border: 1px solid #8d994d;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

#copy_btn {
  background-color: #ededed;
  margin-right: 30px;
}

#code_select {
  height: 100%;
}

#narrowcode_select,
#codeline_select {
  height: 100%;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

#html_select {
  display: none;
  z-index: 3;
  height: 100%;
  text-align: center;
  margin-right: 20px;
}

.theme-wrapper {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  height: 100%;
}

.theme-wrapper select {
  background: #fff;
}

#mycss_icon {
  margin-right: 20px;
  text-decoration: none;
  color: #159957 !important;
  font-weight: bold;
}

#mycss_icon:active {
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}

#cssSetting {
  z-index: 4;
  visibility: hidden;
}

#cssSetting,
#file_export_setting {
  position: absolute;
  top: 0;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #282b2e;
  padding: 0px 20px;
}

#cssToolHead,
#file_export_settingHead {
  display: block;
  width: 100%;
  height: 50px;
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #282b2e;
  color: #ffffff;
}

#cssToolHead #css_select {
  padding-top: 15px;
}

#cssToolHead #cssnote {
  font-size: 12px;
}

#cssEditArea,
#file_export_cssEditArea {
  width: 100%;
  padding: 20px;
  background-color: #f6f6f6;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  word-wrap: normal !important;
  word-break: normal !important;
  white-space: pre !important;
  overflow: auto;
}

#cssToolFoot,
#file_export_settingFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #282b2e;
  font-weight: bold;
  color: #fff;
}

#cssToolFoot *,
#file_export_settingFoot * {
  margin-right: 20px;
}

#cssToolFoot a,
#file_export_settingFoot a {
  text-decoration: none;
  color: inherit;
}

#file_export_container {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 5;
  visibility: hidden;
}

/*#file_export_tool_head{  position:absolute;  top: 0px;  left:0px;  width: 100% ;  height: $toolbar_hight;  background: #ededed;  line-height:$toolbar_hight;  vertical-align:middle;  }*/
#file_export_setting {
  position: absolute;
  top: 50px;
  left: 0px;
  height: 100%;
}

#export_iframe_container {
  position: absolute;
  top: 50px;
  left: 0px;
  height: 100%;
  background: #ffffff;
}

#export_iframe {
  width: 100%;
  height: 100%;
}

#export_iframe_cover {
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 100%;
}

.icon_class:hover {
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
  cursor: pointer;
}

.icon_class:active {
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}

.tool_pic_icon {
  display: inline-block;
  height: 36px;
  width: 140px;
  background-position: 7px 6px;
  vertical-align: middle;
}

.edit_icon {
  background: url("") no-repeat;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
#color_ref {
  z-index: 200;
  margin-right: 15px;
}
.color_select {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.picture_settingPopupContent,
.picSettingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 40px 0px 10px 0px;
  padding: 10px;
  border: 2px solid #959b6f;
  border-radius: 5px;
}
.picture_settingPopupContent {
  width: 800px;
}
.picSettingContainer {
  width: 100%;
}
.picInputInfoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
}
.autouploadImgItem {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.picInputInfoItem label {
  width: 20%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.picInputInfoItem .autoUploadImgLabel {
  width: 80%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.picInputInfoItem > input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.picInputInfoItem .autouploadImg {
  text-align: right;
  padding-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.uploadPicBtn {
  display: block;
  background: #00c853;
  color: white;
  border: 1px solid #d7ccc8;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.uploadPicBtnContainer {
  margin-top: 10px;
  width: 100%;
}
.uploadWarning {
  text-align: left;
  margin-bottom: 40px;
}
.picture_popup_content {
  width: 400px;
}
.picItems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 20px;
  max-height: 800px;
  overflow: auto;
}
.picticItem {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.picticItem img {
  width: 60px;
  height: 60px;
}
.picticItem lable {
  /*   display: inline-block;  r    vertical-align: middle; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
