/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}
.hljs {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
  z-index: 1;
  padding-top: 35px !important;;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

/* 代码块tab-顶部小圆点 */
.hljs::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 0 0 #fdbc40, 40px 0 0 0 #35cd4b;
  content: '';
  height: 12px;
  width: 12px;
  left: 15px;
  margin-top: -22px;
  position: absolute;
  display: block;
  z-index: 2;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: #888;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #ccc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
