/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

/*.hljs-params
{
  color: #ff9823;
}*/
.hljs {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
  z-index: 1;
  padding-top: 35px !important;;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

/* 代码块tab-顶部小圆点 */
.hljs::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 0 0 #fdbc40, 40px 0 0 0 #35cd4b;
  content: '';
  height: 12px;
  width: 12px;
  left: 15px;
  margin-top: -22px;
  position: absolute;
  display: block;
  z-index: 2;
}
.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number{padding-right: 10px !important; }
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

//.hljs-attr,
.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

